Repository kingfadzi/navdocs, changes with the owners that CODEOWNERS names for each.
All owners: @tech-leads, @platform-team, @ops-team, @platform-lead

CODEOWNERS:

# PPM Deployment CODEOWNERS
# Defines required approvers for different parts of the repository
#
# Approval Requirements:
# - Non-prod (dev/test): 2 approvals minimum
# - Prod: 3+ approvals minimum
# - Baseline (any env): Must include @platform-team

# Default: require 2 approvals from any team
* @tech-leads @platform-team @ops-team

# Baseline BOMs - require platform team (high risk)
/boms/baseline/** @platform-team @ops-team

# Production functional BOMs - require tech lead + ops (3+ total with default)
/boms/functional/prod/** @tech-leads @ops-team

# Test functional BOMs - require tech lead
/boms/functional/test/** @tech-leads

# Dev BOMs - standard 2 approvals
/boms/functional/dev/** @tech-leads @platform-team

# Profiles - require platform team (affects all deployments)
/profiles/** @platform-team

# Flag schema - immutable, require platform lead
/profiles/ppm-flag-schema.yaml @platform-lead @platform-team

# Pipeline configuration - require platform team
/.gitlab-ci.yml @platform-team @ops-team

# Deployment and validation scripts - require platform team
/tools/deployment/ @platform-team
/tools/config/ @platform-team
/tools/storage/ @platform-team
/tools/executors/ @platform-team

Fix flag_compiler path reference in deployment utils
  tools/deployment/utils.py
Owners: @platform-team

Remove migration guide and MR templates, bump BOM versions
  .gitlab/merge_request_templates/Deployment.md
  MIGRATION-GUIDE.md
  boms/baseline.yaml
  boms/functional.yaml
Owners: @tech-leads, @platform-team, @ops-team

Fix storage import in orchestrator extract command
  tools/deployment/orchestrator.py
Owners: @platform-team

Bump BOM versions to trigger pipeline
  boms/baseline.yaml
  boms/functional.yaml
Owners: @tech-leads, @platform-team, @ops-team

Add storage, execution modes, vault, and env vars sections to KEY_CONCEPTS
  KEY_CONCEPTS.md
Owners: @tech-leads, @platform-team, @ops-team

Complete documentation overhaul and consolidation
  KEY_CONCEPTS.md
  KMIGRATOR_REFERENCE.md
  entity_migration.md
Owners: @tech-leads, @platform-team, @ops-team

Bump BOM versions for pipeline test
  boms/baseline.yaml
  boms/functional.yaml
Owners: @tech-leads, @platform-team, @ops-team

Update README.md to align with current implementation
  README.md
Owners: @tech-leads, @platform-team, @ops-team

Add comprehensive CLI Reference section to README.md
  README.md
Owners: @tech-leads, @platform-team, @ops-team

Bump BOM versions to trigger pipeline test
  boms/baseline.yaml
  boms/functional.yaml
Owners: @tech-leads, @platform-team, @ops-team

Bump BOM versions for pipeline test
  boms/baseline.yaml
  boms/functional.yaml
Owners: @tech-leads, @platform-team, @ops-team

fix(cicd): Allow child pipelines to run
  .gitlab-ci.yml
  boms/baseline.yaml
  boms/functional.yaml
Owners: @platform-team, @ops-team, @tech-leads

fix(cicd): Trigger validation jobs on branch pushes
  .gitlab-ci.yml
Owners: @platform-team, @ops-team

fix(cicd): Correct workflow rules to trigger pipeline on pushes
  .gitlab-ci.yml
  boms/baseline.yaml
  boms/functional.yaml
Owners: @platform-team, @ops-team, @tech-leads
